@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f0c29;
  background-image: linear-gradient(
    135deg,
    #0f0c29 0%,
    #302b63 51%,
    #24243e 100%
  );
  color: #fff;
  font-size: 16px;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  max-width: 500px;
  width: 90%;
}

.container:hover {
  transform: scale(1.02);
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #ffcc00;
}

.form-container {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ffcc00;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="text"]:hover,
input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #ff9900;
}

button.solve-btn {
  padding: 1rem 2rem;
  border: none;
  background-color: #ffcc00;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1rem;
  outline: none;
}

button.solve-btn:hover {
  background-color: #ff9900;
  transform: scale(1.05);
}

.results {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffcc00;
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in-out;
  text-align: left;
  max-width: 100%;
}

.results p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
